<div class="small-12 medium-4 column">
  <article {{ fn('post_class', ['tease'] ) }}>

    {{ fn('timber_set_product', post) }}

{#    {% do action('woocommerce_before_shop_loop_item_title') %}#}

    <a href="{{ post.link }}" class="tease__img">
      {% if post.thumbnail %}
        <img src="{{ post.thumbnail.src|resize(244, 397) }}" alt="{{ post.title }}" />
        <div class="tease__img-hover"
             alt="{{ post.title }} on"
             style="background: url({{ fn('wp_get_attachment_url', post.product_hover) }}) center no-repeat; background-size: cover"></div>
      {% else %}
        <span class="thumb-placeholder"><i class="icon-camera"></i></span>
      {% endif %}
    </a>

    {% if post.title %}
      <h3 class="tease__title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
    {% else %}
      <h3 class="tease__title"><a href="{{ post.link }}">{{ fn('the_title') }}</a></h3>
    {% endif %}

    {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
    {% do action( 'woocommerce_after_shop_loop_item' ) %}

  </article>
</div>
