svg{
	display: inline-block;
	vertical-align: middle;
	fill: currentColor;
	@include ba-transition('fill, stroke');
}
a,
[type="submit"],
[type="button"],
button{
	@include ba-transition;
}

.subtitle {
  margin-bottom: 20px;
  font-family: 'Trump Gothic Pro', sans-serif;
  line-height: 19px;
  letter-spacing: 2px;
  color: $primary-color;
  opacity: 0.25;
  text-transform: uppercase;
  @include breakpoint(medium) {
    margin-bottom: 34px;
  }
}

.position-relative {
  position: relative;
}

audio, video {
  max-width: 100%;
}

.cta {
  padding: 70px 0;
  background: rgba(245, 240, 232, 0.5);
  @include breakpoint(medium) {
    padding: 100px 0 114px;
  }
  &__inner {
    margin: 0 auto;
    max-width: 620px;
    text-align: center;
  }
  &__title {
    max-width: 250px;
    margin: 0 auto 30px;
    font-size: 50px;
    line-height: 46px;
    color: $primary-color;
    @include breakpoint(medium) {
      max-width: none;
      margin-bottom: 50px;
      font-size: 64px;
      line-height: 56px;
    }
  }
  &__subtitle {
    margin-top: 24px;
    font-size: 12px;
    color: $primary-color;
    opacity: 0.5;
    @include breakpoint(medium) {
      margin-top: 32px;
      font-size: 14px;
    }
  }
  .wpcf7-form {
    p {
      @include breakpoint(medium) {
        display: flex;
        margin: 0 auto;
        max-width: 400px;
      }
    }
    br {
      display: none;
    }
    input[type="email"] {
      margin-bottom: 0;
      border: 1px solid #dddddd;
      border-right: none;
      outline: none;
      box-shadow: none;
      height: 56px;
      padding-left: 22px;
    }
    input[type="submit"] {
      width: 100%;
      border: none;
      margin-top: 10px;
      height: 56px;
      padding: 0 39px;
      background: $primary-color;
      color: $white;
      @include breakpoint(medium) {
        width: auto;
        margin-top: 0;
      }
    }
  }
}

svg {
  fill: transparent;
}

.slick-slide:focus {
  outline: none;
}

h2 {
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
  color: $primary-color;
  @include breakpoint(medium) {
    font-size: 64px;
    line-height: 56px;
  }
}
