<main>
  <section class="home-hero">
    <div class="row columns home-hero__row">
      <div class="home-hero__inner">
        <div class="subtitle">The shirt</div>
        <h1 class="home-hero__title">{{ hero.title }}</h1>
      </div>
      <div class="home-hero__shirt">
        <img class="home-hero__img" src="{{ hero.image.url }}" alt="{{ hero.image.title }}">
        <div class="home-hero__bottom">{{ hero.bottom_text }}</div>
        <img class="home-hero__logo" src="{{ hero.logo.url|resize(405) }}" alt="treffort logo">
      </div>
      <div class="home-hero__scrolldown">

        <svg width="10px" height="42px" viewBox="0 0 10 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Down 4</title>
          <defs>
            <rect id="path-1" x="0" y="0" width="1600" height="1800"></rect>
          </defs>
          <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="home" transform="translate(-81.000000, -803.000000)">
              <g id="top">
                <g id="Group-10">
                  <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                  </mask>
                  <use id="Rectangle" fill="#FBF9F6" xlink:href="#path-1"></use>
                </g>
                <path d="M84.98703,803.49904 L84.98703,841.48342 L82.57469,839.141635 C82.37799,838.95223 82.058692,838.95223 81.862006,839.141635 L81.147446,839.82526 C80.950872,840.01276 80.950872,840.319465 81.147446,840.50887 L85.639332,844.858435 C85.837894,845.045935 86.157192,845.045935 86.353892,844.858435 L90.820424,840.536245 C91.018986,840.34675 91.018986,840.040135 90.820424,839.852635 L90.105864,839.169025 C89.909164,838.97953 89.588858,838.97953 89.392172,839.169025 L86.98084,841.509835 L86.98084,803.49904 C86.98084,803.22172 86.7588,803.001025 86.482384,803.001025 L85.485486,803.001025 C85.210946,803.001025 84.98703,803.22172 84.98703,803.49904 Z" id="Down-4" fill="#1C2B53" opacity="0.25"></path>
              </g>
            </g>
          </g>
        </svg>
        <div>Discover more</div>
        Scroll down
      </div>
    </div>
  </section>

  <section class="home-features">
    <div class="row columns">
      <div class="subtitle">The shirt</div>
      <h2 class="home-features__title">{{ features.title }}</h2>
      <div class="home-features__slider" data-features-slider>
        <div class="home-features__slide">
          <div class="home-features__body">
            <img src="{{ features.side_shirt.url }}" alt="side shirt">
            {% if features.side_shirt_zooms %}
              <ul class="home-features__zooms home-features__zooms--side">
                {% for zoom in features.side_shirt_zooms %}
                  <li data-zoom>
                    <div class="zoom" data-zoom-btn></div>
                    <div class="zoom-img">
                      <img src="{{ zoom.image_side.url }}" alt="zoom">
                    </div>
                    <div class="zoom-desc">{{ zoom.desc }}</div>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <div class="home-features__slide">
          <div class="home-features__body">
            <img src="{{ features.front_shirt.url }}" alt="front shirt">
            {% if features.front_shirt_zooms %}
              <ul class="home-features__zooms home-features__zooms--front">
              {% for zoom in features.front_shirt_zooms %}
                <li data-zoom>
                  <div class="zoom" data-zoom-btn></div>
                  <div class="zoom-img">
                    <img src="{{ zoom.image.url }}" alt="zoom">
                  </div>
                  <div class="zoom-desc">{{ zoom.desc }}</div>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <div class="home-features__slide">
          <div class="home-features__body">
            <img src="{{ features.back_shirt.url }}" alt="back shirt">
            {% if features.back_shirt_zooms %}
              <ul class="home-features__zooms home-features__zooms--back">
                {% for zoom in features.back_shirt_zooms %}
                  <li data-zoom>
                    <div class="zoom" data-zoom-btn></div>
                    <div class="zoom-img">
                      <img src="{{ zoom.image.url }}" alt="zoom">
                    </div>
                    <div class="zoom-desc">{{ zoom.desc }}</div>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="show-for-small-only home-features__info">
        click on the dots to discover the shirt features
      </div>
    </div>
  </section>

  <section class="home-membership" style="background: url({{ member.background.url }}) center no-repeat; background-size: cover">
    <div class="row column">
      <div class="home-membership__inner">
        <div class="subtitle">Membership</div>
        <h2 class="home-membership__title">{{ member.title }}</h2>
        <div class="home-membership__subtitle">{{ member.subtitle }}</div>
        <a href="{{ member.button.url }}" class="button home-membership__button">{{ member.button.title }}</a>
      </div>
    </div>
  </section>

  <section class="home-look">
    <div class="row">
      <div class="small-12 medium-6 column">
        <img class="home-look__img" src="{{ look.first_image.url|resize(620, 893) }}" alt="{{ hero.image.title }}">
        <img class="home-look__img" src="{{ look.second_image.url|resize(620, 620) }}" alt="{{ hero.image.title }}">
        <div class="home-look__cta">
          {{ look.cta }}
        </div>
      </div>
      <div class="small-12 medium-6 column">
        <div class="home-membership__inner home-look__inner">
          <div class="subtitle">Lookbook</div>
          <h2 class="home-look__title">{{ look.title }}</h2>
          <div class="home-membership__subtitle">{{ look.subtitle }}</div>
        </div>
        <img class="home-look__img" src="{{ look.third_image.url|resize(620, 496) }}" alt="{{ hero.image.title }}">
        <video muted autoplay loop>
          <source src="{{ look.video.url }}">
        </video>
      </div>
    </div>
  </section>

  {% include "project-parts/usp.twig" with usp %}
  {% include "project-parts/cta.twig" with cta %}
</main>

