<div class="shop">
  <div class="row columns">
    <div class="shop__title-wrap">
      <div class="subtitle">Shop</div>
      <h1 class="shop__title">{{ shop.title }}</h1>
    </div>
    {% do action('woocommerce_before_main_content') %}

    <div class="before-shop-loop">
      <span>Sort by</span>
      {% do action('woocommerce_before_shop_loop') %}
    </div>

    <div class="row">
      {% for post in products %}
        {% include ["woo/woo-parts/tease-product.twig"] %}
      {% endfor %}
    </div>

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}
  </div>
  {% include "project-parts/usp.twig" with usp %}
  {% include "project-parts/cta.twig" with cta %}
</div>
