{% do action('woocommerce_before_single_product') %}

<article itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}">
  <div class="row columns show-for-small-only">
    <div class="product-slider" data-product-sliderae>
      <div class="product-slider__slide product__main-img">
        <img src="{{ post.thumbnail.src('shop_single')|resize(314) }}" />
      </div>
      {% if product_fields.gallery %}
        {% for item in product_fields.gallery %}
          {% if item.acf_fc_layout == 'full_width_image' %}
            <div class="product-slider__slide">
              <img src="{{ Image(item.image).src|resize(420, 440) }}" />
            </div>
          {% elseif item.acf_fc_layout == 'image_pair' %}
            <div class="product-slider__slide">
              <img src="{{ Image(item.left_image).src|resize(420, 440) }}"/>
            </div>
            <div class="product-slider__slide">
              <img src="{{ Image(item.right_image).src|resize(420, 440) }}" />
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row expanded medium-collapse">
    <div class="small-12 medium-7 column product__img-wrap">
      <div class="product__main-img hide-for-small-only">
        <img src="{{ post.thumbnail.src('shop_single')|resize(314) }}" />
      </div>
    </div>
    <div class="small-12 medium-5 column">
      <div class="product__info">
        <div class="subtitle">{{ product_fields.caption }}</div>
        <div class="summary entry-summary">
          {% do action('woocommerce_single_product_summary') %}
        </div>
        <div class="product__extra">
          <a href="#">
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Combined shape 1034</title>
              <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="shirt" transform="translate(-1041.000000, -699.000000)" fill="#C3C4CB">
                  <g id="Group-4" transform="translate(1041.000000, 697.000000)">
                    <path d="M12.500013,2.000084 C14.432617,2.000084 16.000022,3.567451 16.000022,5.500055 C16.000022,7.432659 14.432617,9.000083 12.500013,9.000083 C11.41213,9.000083 10.451205,8.492251 9.809594,7.712966 L9.809594,7.712966 L7.775397,8.730568 C7.910202,9.131886 8.000015,9.553762 8.000015,10.000034 C8.000015,10.446344 7.910202,10.868258 7.775397,11.269576 L7.775397,11.269576 L9.809594,12.28714 C10.451205,11.507836 11.41213,11.000061 12.500013,11.000061 C14.432617,11.000061 16.000022,12.567428 16.000022,14.500051 C16.000022,16.432655 14.432617,18.000079 12.500013,18.000079 C10.567409,18.000079 9.000004,16.432655 9.000004,14.500051 C9.000004,14.375069 9.023393,14.257877 9.037111,14.136752 L9.037111,14.136752 L6.673796,12.955123 C5.964792,13.597779 5.032215,14.000066 4.000021,14.000066 C1.791024,14.000066 2.7e-05,12.209031 2.7e-05,10.000034 C2.7e-05,7.791075 1.791024,6.000021 4.000021,6.000021 C5.032215,6.000021 5.964792,6.402365 6.673796,7.044983 L6.673796,7.044983 L9.037111,5.863335 C9.023393,5.742286 9.000004,5.625075 9.000004,5.500055 C9.000004,3.567451 10.567409,2.000084 12.500013,2.000084 Z M12.500013,12.700257 C11.507814,12.700257 10.7002,13.507871 10.7002,14.500051 C10.7002,15.492231 11.507814,16.299826 12.500013,16.299826 C13.492231,16.299826 14.299788,15.492231 14.299788,14.500051 C14.299788,13.507871 13.492231,12.700257 12.500013,12.700257 Z M4.000021,7.943474 C2.865189,7.943474 1.943404,8.865259 1.943404,10.000034 C1.943404,11.134847 2.865189,12.05667 4.000021,12.05667 C5.134815,12.05667 6.056619,11.134847 6.056619,10.000034 C6.056619,8.865259 5.134815,7.943474 4.000021,7.943474 Z M12.500013,3.70028 C11.507814,3.70028 10.7002,4.507837 10.7002,5.500055 C10.7002,6.492235 11.507814,7.299849 12.500013,7.299849 C13.492231,7.299849 14.299788,6.492235 14.299788,5.500055 C14.299788,4.507837 13.492231,3.70028 12.500013,3.70028 Z" id="Combined-shape-1034"></path>
                  </g>
                </g>
              </g>
            </svg>
            Share
          </a>
          <a href="#">
            <svg width="22px" height="12px" viewBox="0 0 22 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>ruler</title>
              <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="shirt" transform="translate(-1157.000000, -702.000000)" fill="#C3C4CB" fill-rule="nonzero">
                  <g id="Group-2" transform="translate(1157.000000, 697.000000)">
                    <g id="ruler" transform="translate(-0.000000, 5.000000)">
                      <path d="M20.0000156,0 L2.00001562,0 C0.894984375,0 0,0.894984375 0,1.99996875 L0,9.99998438 C0,11.1049687 0.894984375,12 2.00001563,12 L20.0000156,12 C21.105,12 22.0000312,11.1050156 22.0000312,9.99998438 L22.0000312,1.99996875 C22.0000312,0.894984375 21.105,0 20.0000156,0 Z M20.0000156,9.99998438 L2.00001562,9.99998438 L2.00001562,1.99996875 L4.00003125,1.99996875 L4.00003125,5.99995312 L6,5.99995312 L6,1.99996875 L8.00001562,1.99996875 L8.00001562,5.99995312 L10.0000312,5.99995312 L10.0000312,1.99996875 L12,1.99996875 L12,5.99995312 L14.0000156,5.99995312 L14.0000156,1.99996875 L16.0000312,1.99996875 L16.0000312,5.99995312 L18,5.99995312 L18,1.99996875 L20.0000156,1.99996875 L20.0000156,9.99998438 Z" id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            Size guide
          </a>
        </div>
      </div>
    </div>
  </div>
  {% if product_fields.gallery %}
    {% for item in product_fields.gallery %}
      {% if item.acf_fc_layout == 'full_width_image' %}
        <div class="row medium-collapse expanded">
          <div class="small-12 medium-7 column product__img-wrap hide-for-small-only">
            <img class="product__img-full" src="{{ Image(item.image).src }}" />
          </div>
          <div class="small-12 medium-5 column">
            {% if (item.text) %}
              <div class="product__info product__info-wrap">
                <div class="product__content">
                  {{ item.text }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% elseif item.acf_fc_layout == 'image_pair' %}
        <div class="row medium-collapse expanded">
          <div class="small-12 medium-7 column product__img-wrap">
            <div class="row collapse">
              <div class="small-12 medium-6 column">
                <img class="product__img-pair product__img-pair--left hide-for-small-only" src="{{ Image(item.left_image).src }}"/>
              </div>
              <div class="small-12 medium-6 column">
                <img class="product__img-pair product__img-pair--right hide-for-small-only" src="{{ Image(item.right_image).src }}" />
              </div>
            </div>
          </div>
          <div class="small-12 medium-5 column">
            {% if (item.text) %}
              <div class="product__info product__info-wrap">
                <div class="product__content">
                  {{ item.text }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% elseif item.acf_fc_layout == 'video' %}
        <div class="row medium-collapse expanded">
          <div class="small-12 medium-7 column product__img-wrap">
            <video class="product__video hide-for-small-only" muted autoplay loop>
              <source src="{{ item.video.url }}">
            </video>
          </div>
          <div class="small-12 medium-5 column">
            {% if (item.text) %}
              <div class="product__info product__info-wrap">
                <div class="product__content">
                  {{ item.text }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

</article>

{% do action('woocommerce_after_single_product') %}

{% include "project-parts/usp.twig" with usp %}
{% include "project-parts/cta.twig" with cta %}
