.xoo-wsc-basket {
  visibility: hidden;
}

.xoo-wsc-bki {
  top: auto;
}

.cart-count {

}

.xoo-wsc-container, .xoo-wsc-slider {
  max-width: 380px;
  bottom: auto;
  top: 120px;
  right: -380px;
  border-bottom: 1px solid rgba(245, 240, 232, 0.5);
  border-left: 1px solid rgba(245, 240, 232, 0.5);
}

.xoo-wsc-cart-active .xoo-wsc-opac {
  opacity: 0;
}

.xoo-wsch-top .xoo-wsch-basket {
  display: none;
}

.xoo-wsch-top {
  justify-content: flex-start;
}

.xoo-wsc-header {
  padding: 18px 40px 0;
  color: $primary-color;
}

.xoo-wsch-text {
  font-size: 0;
  &:before {
    content: 'Added to basket';
    font-size: 16px;
    line-height: 2;
    font-family: 'Avenir Next';
    font-weight: 500;
  }
}

.xoo-wsc-product {
  padding: 18px 25px 18px 40px;
  border: none;
}

span.xoo-wsch-close {
  right: 30px;
  font-size: 25px;
  color: $primary-color;
  opacity: 0.25;
}

.xoo-wsc-ft-totals {
  padding: 0 0 20px;
  color: $primary-color;
}

.xoo-wsc-img-col {
  width: 110px;
  a {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #FBF9F6;
    img {
      width: 40px;
    }
  }
}

.xoo-wsc-sum-col {
  width: auto;
  padding-left: 22px;
}

span.xoo-wsc-pname a {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
  color: $primary-color;
  font-size: 14px;
}

.xoo-wsc-qty-price, .xoo-wsc-body span.amount {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
  color: $primary-color;
  font-size: 14px;
  opacity: 0.75;
}

.xoo-wsc-ft-btn-cart {
  background: transparent;
  border: 2px solid #F0E8DD;
  color: $primary-color;
}

a.xoo-wsc-ft-btn {
  width: 50%;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.xoo-wsc-ft-buttons-cont {
  display: flex;
}

a.xoo-wsc-ft-btn-continue {
  display: none;
}

.xoo-wsc-empty-cart .btn {
  color: $white;
}
