<section class="cta">
  <div class="row columns">
    <div class="cta__inner">
      <div class="subtitle">Subscribe</div>
      <h2 class="cta__title">{{ cta.title }}</h2>
      {{ function('do_shortcode', '[contact-form-7 id="99" title="Subscribe"]') }}
      <div class="cta__subtitle">{{ cta.subtitle }}</div>
    </div>
  </div>
</section>
