<section class="usp">
  {% if usp.list %}
    <div class="row">
      {% for usp in usp.list %}
        <div class="small-12 medium-4 column usp__item">
          <div class="usp__inner">
            <img src="{{ usp.icon.url }}" alt="icon">
            <h6>{{ usp.title }}</h6>
            <div>{{ usp.content }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</section>
