.home-hero {
  //position: relative;
  padding-top: 105px;
  background: #FBF9F6;
  min-height: 100vh;
  @include breakpoint(medium) {
    padding-top: 124px;
    height: auto;
  }
  &__row {
    position: relative;
    @include breakpoint(1650px) {
      max-width: 100%;
      padding-right: 150px;
      padding-left: 150px;
    }
  }
  &__inner {
    text-align: center;
    @include breakpoint(medium) {
      position: absolute;
      padding-top: 70px;
      text-align: left;
    }
  }
  &__shirt {
    position: relative;
  }
  &__logo {
    position: absolute;
    top: -6px;
    right: 20px;
    left: 20px;
    margin: auto;
    width: 80vw;
    @include breakpoint(medium) {
      top: 45px;
      right: 20px;
      width: auto;
      left: auto;
      margin: 0;
    }
  }
  &__title {
    display: inline-block;
    max-width: 250px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: $primary-color;
    line-height: 45px;
    font-size: 50px;
    @include breakpoint(medium) {
      max-width: 250px;
      line-height: 86px;
      font-size: 96px;
    }
  }
  &__img {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: block;
  }
  &__bottom {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    font-size: 24px;
    font-family: 'Freightbig Book', serif;
    line-height: 52px;
    @include breakpoint(medium) {
      margin-top: 55px;
      padding-bottom: 160px;
      font-size: 32px;
    }
  }
  &__scrolldown {
    font-size: 0;
    @include breakpoint(medium) {
      position: absolute;
      top: calc(100vh - 70px - 124px);
      left: 0;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      font-size: 16px;
      line-height: 16px;
      color: $primary-color;
      font-family: 'Avenir Next', sans-serif;
    }
    @include breakpoint(1650px) {
      margin-left: calc(150px - 20px);
    }
    svg {
      @include breakpoint(medium) {
        position: absolute;
        left: -20px;
      }
    }
    > div {
      margin-bottom: 8px;
      font-weight: 700;
    }
  }
  &__bottom-section {
    height: calc(100vw * 0.35);
    background: #FBF9F6;
  }
}

.home-membership {
  position: relative;
  padding: 200px 0;
  text-align: center;
  color: $white;
  @include breakpoint(medium) {
    padding: 309px 0;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  &__inner {
    position: relative;
    z-index: 1;
  }
  &__title {
    margin-bottom: 18px;
    font-size: 50px;
    line-height: 44px;
    text-transform: uppercase;
    color: $white;
    @include breakpoint(medium) {
      font-size: 96px;
      line-height: 86px;
    }
  }
  &__subtitle {
    margin: 0 auto 25px;
    max-width: 340px;
    @include breakpoint(medium) {
      margin-bottom: 37px;
    }
  }
  .subtitle {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
}

.home-look {
  position: relative;
  padding: 320px 0 75px;
  @include breakpoint(medium) {
    padding: 160px 0 114px;
  }
  &__img {
    margin-bottom: 15px;
    @include breakpoint(medium) {
      margin-bottom: 40px;
    }
  }
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 90px;
    margin: 0 auto;
    text-align: center;
    @include breakpoint(medium) {
      position: static;
      padding: 156px 0;
      max-width: 400px;
    }
  }
  &__title {
    margin: 0 auto 16px;
    max-width: 200px;
    @include breakpoint(medium) {
      margin: 0 auto 31px;
      max-width: 260px;
    }
  }
  &__cta {
    margin: 50px auto;
    max-width: 300px;
    text-align: center;
    font-family: 'Freightbig Book', serif;
    font-size: 26px;
    line-height: 1.625;
    @include breakpoint(medium) {
      margin: 83px auto 0;
      max-width: 396px;
      font-size: 32px;
      line-height: 52px;
      text-align: left;
    }
  }
}

.usp {
  padding-bottom: 40px;
  color: $primary-color;
  @include breakpoint(medium) {
    padding-bottom: 162px;
  }
  &__inner {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #F0E8DD;
    @include breakpoint(medium) {
      margin-bottom: 0;
      padding-bottom: 0;
      max-width: 290px;
      text-align: left;
      border-bottom: none;
    }
    img {
      max-width: 50px;
      margin-bottom: 20px;
      @include breakpoint(medium) {
        margin-bottom: 34px;
      }
    }
    h6 {
      margin-bottom: 8px;
      font-family: 'Avenir Roman';
      font-weight: 700;
      line-height: 2;
    }
  }
  &__item:nth-child(2) {
    @include breakpoint(medium) {
      border-right: 1px solid #F0E8DD;
      border-left: 1px solid #F0E8DD;
    }
    .usp__inner {
      margin-bottom: 40px;
      padding-bottom: 40px;
      @include breakpoint(medium) {
        margin: 0 auto;
        padding-bottom: 0;
        max-width: 260px;
      }
    }
  }
  &__item:nth-child(3) {
    .usp__inner {
      border-bottom: none;
      margin: 0 0 0 auto;
    }
  }
}

.home-features {
  padding: 80px 0;
  @include breakpoint(medium) {
    padding: 160px 0;
  }
  &__info {
    margin: 0 auto;
    max-width: 220px;
    text-align: center;
    color: $primary-color;
  }
  &__title {
    margin-bottom: 60px;
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  &__slider {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    @include breakpoint(medium) {
      max-width: 50%;
    }
    .slick-list {
      overflow: visible;
    }
    .slick-prev, .slick-next {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      background: transparent;
      font-size: 0;
      cursor: pointer;
    }
    .slick-prev {
      right: 100%;
    }
    .slick-next {
      left: 100%;
    }
  }
  &__slide {
    img {
      transition: transform 1.2s ease, opacity 0.8s ease;
    }
  }
  &__slide.slick-current {
    .home-features__zooms {
      transition: opacity 0.4s ease-in 0.2s;
    }
  }
  &__slide:not(.slick-current) {
    img {
      transform: scale(0.6);
      opacity: 0.5;
    }
    .home-features__zooms {
      opacity: 0;
    }
  }
  &__slide:first-child {
    .home-features__body {
      > img {
        transform-origin: right;
      }
    }
  }
  &__slide:last-child {
    .home-features__body {
      > img {
        transform-origin: left;
      }
    }
  }
  &__body {
    position: relative;
  }
  &__zooms {
    list-style: none;
    margin: 0;
    li {
      position: absolute;
      cursor: pointer;
      .zoom {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: rgba(28, 43, 83, 0.5);
        border-radius: 50%;
        transition: transform 0.4s ease-out, background-color 0.3s ease-in;
        @include breakpoint(medium) {
          width: 50px;
          height: 50px;
        }
        &:before {
          content: '+';
          line-height: 1;
          color: $white;
          transition: transform 0.3s ease-in;
        }
      }
      &.active {
        z-index: 2;
        .zoom-img {
          transform: scale(1);
          opacity: 1;
          img {
            transform: scale(1.3);
          }
        }
        .zoom {
          transform: translateY(-105%) translateX(155%);
          background-color: $primary-color;
          &:before {
            transform: rotate(45deg);
          }
        }
        .zoom-desc {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
        }
      }
      .zoom-img {
        position: absolute;
        top: -100%;
        left: -100%;
        width: 350%;
        border-radius: 50%;
        transform: scale(0.5);
        opacity: 0;
        overflow: hidden;
        transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.2s ease-out;
        img {
          transform: scale(1);
          transition: transform 0.8s ease;
        }
      }
      .zoom-desc {
        position: absolute;
        left: -44px;
        bottom: -120px;
        width: 150px;
        font-family: 'Avenir Next', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        color: $primary-color;
        opacity: 0;
        transform: translateY(10px);
        visibility: hidden;
        transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s, visibility 0.1s ease;
        @include breakpoint(medium) {
          bottom: -162px;
          width: 200px;
          font-size: 14px;
          line-height: 2;
        }
      }
    }
  }
  &__zooms--front {
    li:first-child {
      bottom: 16%;
      left: 2%;
    }
    li:nth-child(2) {
      top: 6%;
      left: 33%;
      .zoom-desc {
        @include breakpoint(medium) {
          bottom: 0;
          left: -250px;
        }

      }
    }
    li:nth-child(3) {
      top: 35%;
      left: 46%;
    }
    li:nth-child(4) {
      top: -3%;
      left: 49%;
      .zoom-desc {
        @include breakpoint(medium) {
          bottom: 0;
          left: 150px;
        }

      }
    }
  }
  &__zooms--side {
    li:first-child {
      bottom: 10%;
      left: 13%;
    }
    li:nth-child(2) {
      top: 22%;
      left: 49%;
      .zoom-desc {
        @include breakpoint(medium) {
          bottom: 0;
          left: 150px;
        }

      }
    }
  }
  &__zooms--back {
    li:first-child {
      top: 13%;
      right: 38%;
      .zoom-desc {
        @include breakpoint(medium) {
          bottom: 0;
          left: 150px;
        }

      }
    }
    li:nth-child(2) {
      bottom: 16%;
      right: 11%;
      .zoom-desc {
        @include breakpoint(medium) {
          left: -44px;
          bottom: -200px;
        }

      }
    }
  }
}
