.product {
  padding: 66px 0;
  @include breakpoint(medium) {
    padding: 131px 0 160px;
  }
  &__img-wrap {
    padding-left: 10px !important;
  }
  &__main-img {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: #fbf9f6;
    @include breakpoint(medium) {
      padding: 77px 30px;
      margin-bottom: 10px;
    }
    img {
      margin: 0 auto;
      max-width: 180px;
      @include breakpoint(medium) {
        max-width: 100%;
      }
    }
  }
  &__img-pair {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include breakpoint(medium) {
      padding-bottom: 10px;
    }
    &--left {
      @include breakpoint(medium) {
        padding-right: 5px;
      }

    }
    &--right {
      @include breakpoint(medium) {
        padding-left: 5px;
      }

    }
  }
  &__img-full {
    margin-bottom: 10px;
  }
  &__video {
    margin-bottom: 4px;
  }
  &__extra {
    a {
      display: inline-block;
      margin-right: 40px;
      font-family: 'Avenir Next', sans-serif;
      font-weight: 500;
      svg {
        margin-right: 14px;
      }
    }
  }
  &__info-wrap {
    display: flex;
    align-items: center;
    margin: 40px auto 0;
    @include breakpoint(medium) {
      margin: 0;
    }
  }
  &__content {
    opacity: 0.8;
    p {
      line-height: 1.9;
      @include breakpoint(medium) {
        font-size: 21px;
      }
    }
    ul {
      margin: 0 0 40px;
      list-style: none;
      @include breakpoint(medium) {
        margin: 0;
      }
      li {
        line-height: 1.9;
      }
    }
  }
  &__info {
    max-width: 400px;
    height: 100%;
    color: $primary-color;
    @include breakpoint(medium) {
      margin: 0 auto;
    }

    .subtitle {
      padding-top: 40px;
      @include breakpoint(medium) {
        padding-top: 90px;
      }
    }

    .summary {
      margin: 0 auto;
      max-width: 400px;
    }

    .in-stock {
      display: none;
    }

    .quantity {
      display: none !important;
    }

    .added_to_cart {
      display: none;
    }

    .wc-tabs {
      display: none;
    }

    .wc-tab {
      h2 {
        display: none;
      }
    }

    .product_title {
      margin-bottom: 20px;
      font-size: 50px;
      line-height: 44px;
      @include breakpoint(medium) {
        margin-bottom: 39px;
        font-size: 64px;
        line-height: 56px;
      }
    }

    .price {
      font-size: 26px;
      color: $primary-color;
      opacity: 0.75;
      @include breakpoint(medium) {
        font-size: 32px;
      }
    }
    p {
      line-height: 1.85;
    }
    .single_add_to_cart_button {
      width: 100%;
      margin-bottom: 35px;
    }
    .variations {
      display: block;
      margin-top: 35px;
      margin-bottom: 12px;
      .reset_variations {
        display: none;
      }
      tbody, tr {
        display: block;
      }
      td.label {
        display: none !important;
      }
      [aria-label="Size"] {
        margin: 0 -1px !important;
        li.variable-item.button-variable-item {
          width: 20%;
          height: auto;
          margin: 0;
          padding-top: 4px;
          border-radius: 0;
          box-shadow: none !important;
          &:before, &:after {
            content: none;
          }
          .variable-item-contents {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #F0E8DD;
            height: 56px;
            font-family: 'Avenir Next', sans-serif;
            line-height: 1;
            font-weight: 500;
          }
          &.selected {
            .variable-item-contents {
              border: 1px solid $primary-color;
            }
          }
        }
      }
    }
  }
}

.product-slider {
  position: relative;
  .slick-prev, .slick-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(240, 232, 221, 0.7);
    &:before {
      content: '';
      width: 14px;
      height: 25px;
      margin-left: 3px;
      opacity: 0.7;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 185.343 185.343' style='enable-background:new 0 0 185.343 185.343;' xml:space='preserve'%3E%3Cpath style='fill:%231C2B53;' d='M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175 l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934 c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z'/%3E%3C/svg%3E") center no-repeat;
      background-size: contain;
    }
  }
  .slick-prev {
    left: 10px;
    &:before {
      margin-right: 3px;
      margin-left: 0;
      transform: rotate(180deg);
    }
  }
  .slick-next {
    right: 10px;
  }
}
