.shop {
  padding: 120px 0 0;
  @include breakpoint(medium) {
    padding: 211px 0 0;
  }
  &__title-wrap {
    text-align: center;
  }
  &__title {
    font-size: 50px;
    text-transform: uppercase;
    color: $primary-color;
    @include breakpoint(medium) {
      margin-bottom: 39px;
      font-size: 64px;
    }
  }
  #main {
    padding-bottom: 20px;
    @include breakpoint(medium) {
      padding-bottom: 80px;
    }
  }
}

.before-shop-loop {
  text-align: right;
  .woocommerce-notices-wrapper {
    display: inline-block;
  }
  .woocommerce-ordering {
    display: inline-block;
    select {
      width: auto;
      border: none;
      box-shadow: none;
    }
  }
}

.tease {
  &.product {
    padding: 0;
    margin-bottom: 50px;
    @include breakpoint(medium) {
      margin-bottom: 80px;
    }
  }
  &__img {
    position: relative;
    display: block;
    margin-bottom: 24px;
    padding: 40px 0;
    text-align: center;
    background: $beige;
    overflow: hidden;
    @include breakpoint(medium) {
      margin-bottom: 42px;
      padding: 90px 0;
    }
    &:hover {
      .tease__img-hover {
        opacity: 1;
        transform: scale(1);
      }
    }
    img {
      max-width: 180px;
      @include breakpoint(medium) {
        max-width: 100%;
      }
    }
  }
  &__img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: scale(1.13);
    transition: opacity 0.3s ease, transform 0.8s ease-out;
  }
  &__title {
    font-size: 16px;
    line-height: 2;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 600;
  }
  .price {
    color: rgba(28, 43, 83, 0.75);
  }
}
