<article class="ba-post">
    <a href="{{ post.link }}" class="ba-post__image">
        <img src="{{ post.thumbnail.src|resize(448, 196) }}" srcset="{{ post.thumbnail.src|resize(448, 196) }} 1x,
                                                                {{ post.thumbnail.src|resize(896, 392) }} 2x" alt="{{ post.title }}">
    </a>
    <h3 class="ba-post__title">
        <a href="{{ post.link }}">
            {{ post.title }}
        </a>
    </h3>
    {% if post.tags %}
        <div class="ba-post__tags">
            {% for tag in post.tags %}
                <a href="{{ tag.link }}" title="{{ tag.title }}">#{{ tag.name }}</a>
            {% endfor %}
        </div>
    {%  endif %}
    <div class="ba-post__excerpt">{{ post.post_excerpt }}</div>
    <div class="row align-middle align-justify">
        <div class="column shrink">
            <a href="{{ post.link }}" class="ba-post__more">Read more</a>
        </div>
        <!-- /.column shrink -->
        <div class="column shrink ba-post__date">
            <time datetime="{{ post.date('Y-m-d') }}T{{ post.date('H:i:s') }}" >{{ post.date }}</time>
        </div>
        <!-- /.column shrink -->
    </div>
    <!-- /.row -->

</article>
<!-- /.ba-post -->