<footer class="footer">
  <div class="row">
    <div class="small-12 medium-2 column">
      <h6>Navigate</h6>
      {{ function('foundationpress_footer') }}
    </div>
    <div class="small-12 medium-2 column">
      <h6>Help</h6>
      {{ function('foundationpress_help') }}
    </div>
    <div class="small-12 medium-2 column social-menu">
      <h6>Social</h6>
      <a href="{{ general.instagram }}" class="footer__social" target="_blank">Instagram</a>
      <a href="{{ general.facebook }}" class="footer__social" target="_blank">Facebook</a>
    </div>
    <div class="small-12 medium-3 column medium-offset-1">
      <h6>Country</h6>
      <div class="footer__select">
        Netherlands
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4E566C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="6 9 12 15 18 9"/>
        </svg>
      </div>
      <h6>Language</h6>
      <div class="footer__select">
        English
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4E566C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="6 9 12 15 18 9"/>
        </svg>
      </div>
    </div>
    <div class="small-12 medium-2 column text-right">
      <a href="{{ site.link }}" class="small-logo">
        <svg width="36px" height="42px" viewBox="0 0 36 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>9B745587-D117-4719-B91A-85C7018582B7</title>
          <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="shirt" transform="translate(-1405.000000, -4616.000000)" fill-rule="nonzero" stroke="#F0E8DD">
              <g id="Group-25" transform="translate(0.000000, 4457.000000)">
                <path d="M1418.70952,176.386837 L1418.70952,200 L1411.04603,200 L1411.04603,176.386837 L1406,176.386837 L1406,170.98724 L1411.04603,170.98724 L1411.04603,168.515782 C1411.04603,167.942691 1410.85265,167.418849 1410.46587,166.944258 C1410.0791,166.469666 1409.37751,166.245803 1408.36111,166.272666 C1407.43711,166.297088 1406.7547,166.33261 1406.31389,166.379233 L1406.18889,166.393553 L1406.18889,160.161182 C1406.87249,160.107455 1407.41217,160.067159 1407.80794,160.040296 C1408.2037,160.013432 1408.64444,160 1409.13016,160 C1413.39365,160 1416.08307,160.877546 1417.19841,162.632639 C1418.21556,163.765391 1418.74533,165.794546 1418.78771,168.720105 L1418.79048,169.106783 L1418.79048,170.98724 L1427.20952,170.98724 L1427.20952,169.106783 L1427.21229,168.720105 C1427.25467,165.794546 1427.78444,163.765391 1428.80159,162.632639 C1429.91693,160.877546 1432.60635,160 1436.86984,160 C1437.35556,160 1437.7963,160.013432 1438.19206,160.040296 C1438.58783,160.067159 1439.12751,160.107455 1439.81111,160.161182 L1439.81111,160.161182 L1439.81111,166.393553 L1439.68611,166.379233 C1439.2453,166.33261 1438.56289,166.297088 1437.63889,166.272666 C1436.62249,166.245803 1435.9209,166.469666 1435.53413,166.944258 C1435.14735,167.418849 1434.95397,167.942691 1434.95397,168.515782 L1434.95397,168.515782 L1434.95397,170.98724 L1440,170.98724 L1440,176.386837 L1434.95397,176.386837 L1434.95397,200 L1427.29048,200 L1427.29048,176.386837 L1418.70952,176.386837 Z" id="Combined-Shape"></path>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="row footer__bottom">
    <div class="small-12 medium-6 columns">
      <div class="footer__copyright">{{ general.copyright }}</div>
    </div>
    <div class="small-12 medium-6 columns medium-text-right">
      <a href="{{ general.link.url }}">{{ general.link.title }}</a>
    </div>
  </div>

</footer>
