<main>
    <div class="row">
        <div class="column">
            <h3>{{ title }}</h3>
        </div>
        <!-- /.column small-16 large-4 -->
    </div>
    <!-- /.row -->
    <div class="row align-justify">
        {% for post in posts %}
            <div class="column small-16 medium-7">
                {% include "twig/content.twig" with {'post': post } %}
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->
</main>