<main>
    <article>
        <div class="row column">
            <h1 class="page-title">{{ post.title }}</h1>

            {{ post.content }}
        </div>
        <!-- /.row column -->
    </article>
</main>