<main>
    <article>
        <div class="row column">
            <img class="ba-single-thumb" src="{{ post.thumbnail.src|resize(1024) }}" srcset="{{ post.thumbnail.src|resize(1024) }} 1x,
                                                            {{ post.thumbnail.src|resize(2048) }} 2x" alt="{{ post.title }}">
            <h1 class="ba-page-title">{{ post.title }}</h1>
        </div>
        <!-- /.row -->
        <div class="row ba-single-meta">
            <div class="column small-16 medium-8">
                <time datetime="{{ post.date('Y-m-d') }}T{{ post.date('H:i:s') }}">{{ post.date }}</time>
            </div>
            <!-- /.column small-12 -->
            <div class="column small-16 medium-8 text-right">
                <div class="ba-share">
                    <span>{{ __('Share on') }}:</span> {{ function('do_shortcode', '[addtoany]') }}
                </div>
                <!-- /.ba-share -->

            </div>
            <!-- /.column small-12 -->
        </div>
        <!-- /.row -->
    </article>
</main>