.footer {
  position: relative;
  padding: 60px 0;
  background: $primary-color;
  color: #FAF7F3;
  @include breakpoint(medium) {
    padding: 162px 0 132px;
  }
  .small-logo {
    position: absolute;
    top: 50px;
    right: 0.625rem;
    @include breakpoint(medium) {
      position: static;
    }
  }
  a {
    color: rgba(250, 247, 243, 0.75);
  }
  h6 {
    margin-bottom: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.86px;
    @include breakpoint(medium) {
      font-size: 13px;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      margin-bottom: 12px;
    }
  }
  &__social {
    display: block;
    margin-bottom: 12px;
  }
  &__bottom {
    padding-top: 20px;
    text-align: center;
    color: rgba(250, 247, 243, 0.5);
    @include breakpoint(medium) {
      padding-top: 96px;
      text-align: left;
    }
    a {
      color: rgba(250, 247, 243, 0.5);
    }
  }
  &__copyright {
    padding-bottom: 20px;
    @include breakpoint(medium) {
      padding-bottom: 0;
    }
  }
  &__select {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border: 1px solid #4E566C;
    padding: 10px 19px;
    color: rgba(250, 247, 243, 0.75);
    @include breakpoint(medium) {
      width: 220px;
    }
  }
  .footer-menu, .help-menu, .social-menu {
    margin-bottom: 40px;
    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }
}
