.ba-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  &__icons {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      margin-left: 15px;
      cursor: pointer;
      transition: opacity 0.2s ease-in;
      @include breakpoint(medium) {
        margin-left: 40px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.home {
  .ba-header-bar {
    background: transparent;
    border-bottom: none;
  }
  .scrolled {
    .ba-header-bar {
      border-bottom: 1px solid rgba(245, 240, 232, 0.5);
      background: $white;
    }
  }
}

.mobile-nav {
  position: absolute;
  left: 0.625rem;
}

.ba-header-bar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0.625rem;
  border-bottom: 1px solid rgba(245, 240, 232, 0.5);
  background: $white;
  transition: transform .3s ease-in-out,opacity .3s ease-in-out,background-color .3s ease-in-out .2s,-webkit-transform .3s ease-in-out;
  @include breakpoint(medium) {
    justify-content: space-between;
    padding: 32px 1.25rem;
  }
  @include breakpoint(1425px) {
    padding: 44px 50px;
  }
}

.off-canvas-wrapper-inner.hidden .ba-header-bar {
  transform: translateY(-100%);
  opacity: 0;
}

.ba-header-logo {
  position: absolute;
  left: calc(50% - 50px);
  max-width: 100px;
}

// Navigation breakpoints
.mobile-menu {
	@include hide-for(medium);
}

.menu-icon:after {
  background: $primary-color;
  box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color;
}

.desktop-menu {
	@include show-for(medium);
  li {
    margin: 0 16px;
    a {
      padding: 12px 0 4px;
      font-family: 'Avenir Next', sans-serif;
      font-weight: 500;
    }
  }
  li.is-active > a {
    background: transparent;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
  }
}

// Mobile menu
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
	height: 100vh;
	> ul.menu {
		padding: 1rem;

		a {
			color: $white;
		}
	}
}

// Tablet and desktop menu

// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}
